<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Prrduct_Management_Liblery.Properties.Settings.DB1ConnectionString"
            connectionString="Data Source=NZZZ\SQLEXPRESS;Initial Catalog=DB1;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>